.home-article
  padding: 15px;
  color: #666;
  line-height: 1.5rem;
  .year-box
    width: 100%;
    text-decoration: none;
    margin-bottom: 30px;
    h3
      margin: 0.75rem 0;
      font-size: 1.5rem;
    .month-box
      padding-left: 15px;
      width: 100%;
      h6
        margin: 0.5rem 0;
        font-size: 1.1rem;
      .article
        padding-left: 15px;
        a
          display: block;
          line-height: 1.75;
          transition: 400ms;
          text-decoration: none;
          border-radius: 0.15rem;
          padding: 0.15rem 0.25rem;
          color: #666;
          &:hover 
            box-shadow: 1px 2px 3px rgba(0,0,0,0.3);

